th, tr {
  text-align: center !important;
}

#resetToExampleData, #template_download, #data_upload_size2 {
  margin-top: 25px;
}

#custom_cas_1, #custom_cas_2, #custom_cas_3 {
  margin-top: 25px;
}

#download_proportion_cascade, #download_count_cascade {
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: red;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
  padding-top: 10px;
}

#template_download, #data_input, #resetToExampleData {
  height:30px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
  padding-bottom: 10px;
}

.two_row {
  height:800px;
}

.three_row {
  height: 1200px;
}

#viz1_cascade_percent, #viz2_cascade_percent, #cascade_count {
  height: auto !important;
}

.title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  font-size:45px;
}

.sanac {
  height: 250px;
  width: 250px;
}

.ucsf {
  width:300px;
  margin-top:100px;
  text-align: right;
}

.intro_text {
  margin-top: 100px;
}